<div class="temp">

  <h2>Tempearature for <%= @zip_code %></h2>
  <h3>The average current temperature for <%= @city %> is:</h3>
  <p><%= @avg_f %>F</p>
  <p><%= @avg_c %>C</p>
  <p id="weather" style="display: "><%= @weather %></p>
</div>
